<!-- <ion-view view-title="Greenbit">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <h2>Growth Analysis</h2>
        <p>
          Observe the health of your buddy
        </p>
      </div>
      <div class="item item-body">
        <div class="row">
          <div class="card">
          <div class="item item-divider">Heat</div>
            <div class="item item-body">
              <canvas id="heat" class="chart chart-line" data="data" labels="labels" legend="true" width="310" height="200" series="series"  colours="Green" click="onClick"></canvas>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
          <div class="item item-divider">Water</div>
            <div class="item item-body">
              <canvas id="water" class="chart chart-line" data="data" labels="labels" legend="true" width="310" height="200" series="series" click="onClick"></canvas>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
          <div class="item item-divider">Light</div>
            <div class="item item-body">
              <canvas id="light" class="chart chart-line" data="data" labels="labels" legend="true" width="310" height="200" series="series" click="onClick"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
 -->